body
{
	font-family: courier new;
	color: #98a385;
	font-size: 10px;
	text-align: center;

}
.imag{
	background-image: url(11.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}


